<div class="jumbotron">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="" class="form-label">Email</label>
      <input class="form-input" type="text" name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="" class="form-label">Username</label>
      <input class="form-input" type="text" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="" class="form-label">Password</label>
      <input class="form-input" type="text" name="password" [(ngModel)]="password">
    </div>
    <button type="submit">Register</button>
  </form>
</div>
<button (click)="moveToLogin()">Login</button>
